.footer {
  align-items: center;
  background-color: #111;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: center;

  a {
    border: 2px solid white;
    border-radius: 100px;
    height: 60px;
    margin: 0 9px;
    width: 60px;

    img {
      display: block;
      height: 26px;
      margin: auto;
      padding-top: 16px;
      position: relative;
    }
  }
}
