.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  height: 40vmin;
}

.logo-wrapper {
  animation: App-logo-float infinite 6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.App-header {
  background-image: linear-gradient(#30cfd0 0%, #330867 100%);
  // background-image: linear-gradient(#471671, #4500A0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    font-weight: bold;
    margin: 4px;
  }

  h2 {
    margin: 4px;
    font-weight: 300;
    span.word {
      font-weight: 800;
      color: white;
      animation: hsl-sweep infinite 14s linear;
    }

    span.type-cursor {
      opacity: 1;
      animation: blink .9s infinite;
    }
  }

  h3 {
    margin: 35px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes App-logo-float {
  0% {
    transform: translate(1px, 2px);
  }
  25% {
    transform: translate(-0px, 1px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  65% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(1px, 2px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hsl-sweep {
  0% { color: hsl(0, 100%, 82%); }
  16% { color: hsl(60, 100%, 82%); }
  33% { color: hsl(120, 100%, 82%); }
  50% { color: hsl(180, 100%, 82%); }
  67% { color: hsl(240, 100%, 82%); }
  83% { color: hsl(300, 100%, 82%); }
  100% { color: hsl(360, 100%, 82%); }
}
