.events {
  background: #222;  /* fallback for old browsers */

  padding-top: 100px;

  > .content {
    margin: auto;
    max-width: 980px;
    width: 100%;
    padding-bottom: 100px;

    h1 {
      font-size: 52px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}